<h2><%= @house.name %> <%= link_to "(edit)", edit_house_path(@house) %></h2>
<h2>Characters</h2>
<% @characters.each do |character| %>
  <%= link_to character.name, house_character_path(@house, character) %>
<% end %>
